.Home-wrp{
    background-color: #253144;
    width: 100vw;
    height: 100vh;
    align-items: center;
    color: #fff;
 
}

.home-inner{
  
    display: flex;
    margin-bottom: 6rem;
    /* justify-content: center; */
    gap:5rem;
    align-items: center;
 
}



.createupto{
    margin-top: -2rem;
    font-size: 1.3rem;
    color: rgb(116, 184, 102);
    max-width: 80%;
    margin-bottom: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.home-name{
    font-size: 3rem;
}

.linknew{
    width: 6rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 70ms; /* 70,000 milliseconds (70 seconds) */

}


.linknew:hover{
    transform: scale(1.1);
}

.home-sub{
    font-size: 1.2rem;
    color: grey;
    margin-top: .5rem;
    margin-bottom: 4rem;
   max-width: 85%;

 
}

.home-right{

    max-width: 40%;
}

.home-btn{
    display: flex;
    gap:1rem;
}


.home-btn .Link{
    background-color: crimson;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding:.2rem .5rem ;
    border-radius: .3rem;
    box-shadow: .1rem .1rem .1rem ;
}

.home-btn .lnk{
    background-color: grey;
}

.home-img{
    border-radius: .5rem;
    box-shadow: -.2rem -.2rem 1rem grey;
    width: 21rem;
    height: auto;
   transform: rotate(-10deg);

}

.home-inner-div{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

